.nav {
	background-color: var(--nav-bg);
	color: #fff;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}

.nav__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.nav__list {
    display: flex;
	gap: 20px;
    justify-content: space-between;
	align-items: center;

	cursor: default;
    margin: 0 -8px;
    width: auto;
    height: 44px;
    -webkit-user-select: none;
    user-select: none;
    list-style: none;
	white-space: nowrap;
}

.nav__link {
	font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;

	color: rgb(255, 255, 255, .8) ;
}

.nav__icon {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	flex-shrink: 0;

	padding-top: 6px;
	fill: currentColor;
}

.nav__item {padding: 0;}

.nav__item--text {padding: 0;}

/* Бургер скрыт на десктопе */
.nav__item--mobile {
    display: none;
}

@media (max-width: 768px) {
	.nav__list {
		gap: 20px;
	}
	.nav__item:first-child {flex-grow: 1;}
	.nav__item--text {
        display: none;
    }

    .nav__item--mobile {
        display: inline-block;
		position: relative;
		z-index: 100;
    }

    .nav__icon {
        width: 20px;
        height: 52px;
        /* width: 17px;
        height: 48px; */
    }
}
